.idcardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.company_logo{
    background: url("bms_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.8px solid red;
}
.main_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-transform: none;
    font-size: 16px;
    color: whitesmoke;
}
.cardbody{
    background-image: url("background-wallpaper-black.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input[type="text"]{
    font-size: 18px;
    padding: 8px;
    margin: 15px;
    width: 45%;
    border: none;
    border-bottom: 1px solid red;
}

.button{
    font-size: 18px;
    padding: 8px;
    margin-top: 15px;
    margin-left: 40px;
    width: 30%;
    border-radius: 15px;
}

#imgflie{
    margin: 20px;
}