.bg_image{
    background: url("office-desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutme{
    flex-direction: column;
    color: whitesmoke;
    padding: 15px;
    text-align: justify;    
}

.education1{
    border-bottom: 4px solid teal;
}

.education2{
    padding-top: 30px;
    font-size: 20px;
}
.contact-para{
    padding: 10px; color: gray; text-align: justify; font-size: 18px;
}
.address{
    padding: 30px;
    margin: 30px;
    text-align: center;
}