body{
    margin: 0;
}
.main_body{
    display: flex;
    height: 115vh;
}

a{
    text-decoration: none;
}

.left_menu{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1.5%;
    border-right: 0.5px solid grey;
}

.center{
    flex: 3;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    align-items: center;
    border-bottom: 1px solid grey;
}

.left_nav_bar{
    display: flex;
    flex:1;
    /*padding: 1%;*/
    justify-content: flex-start;
}

.right_nav_bar{
    display: flex;
    flex:3;
    justify-content: flex-end;
    /*padding: 1%;*/
}

.nav_bar_opt{
   /* border: 0.5px solid grey;*/
    margin: 2%;
    padding: 1%;
}

.right{
    margin-top: 8%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    /*justify-content: center;*/
    align-items: center;
    border: 1px solid grey;
    height: 70vh;
}
.righttable{
    text-align: justify;
    padding-right: 7%;
}